<div class = "shadow p-4 border">
  <div class = "flex justify-between p-4">
    <h2 class="text-xl font-semibold custom-header">User Data</h2>

    <button mat-raised-button color="primary" class="custom-button add-user-button" routerLink="/users/add">Add User</button>
    
    
  </div>
    <table>
          <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Age</th>
               <th>Address</th>
               <th>Action</th>
            </tr>
          </thead>

          <tbody>
            @for (user of users ; track $index)
            {
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.address}}</td>
                    <td>
                      <button mat-raised-button color="accent" class="custom-button edit-button" [routerLink]="'/users/'+user._id">Edit</button>
                      <button mat-raised-button color="warn" class="custom-button delete-button" (click)="delete(user._id!)">Delete</button>
                      
                    </td>
                    
                </tr>
            }


          </tbody>
    </table>

</div>
